{% extends "base.html" %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        <div class="col-8 sm-6 offset-2">
            <h3>TV Show {{show.id}}</h3>
            <a href="/">Go back</a><br><br>
            <div class="card p-3">
                <h5 class="card-title my-2 text-center"></h5>
                <h6>Title: {{show.title}}</h6>
                <h6>Network: {{show.network}}</h6>
                <h6>Release date: {{show.release_date}}</h6>
                <h6>Description: {{show.description}}</h6><br>
                <h6>Last updated: {{show.updated_at}}</h6>
                <p><a href="/shows/{{show.id}}/edit">Edit</a> | <a href="/shows/{{show.id}}/delete">Delete</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}